#main {
    display: grid;
    grid-template-columns: repeat(4, minmax(100px, 1fr));
    margin: 50px;
}
h1 {
    text-align: center;
}
.newDiv {
    text-align: center;
    background-color: black;
    color: white;
}
.newDiv:hover {
    background-color: blue;
}
/*.newDiv {
    width: 50px;
    height: 50px;
    background: red;
    position: absolute;
    left: var(--mouse-x);
    top: var(--mouse-y);
}
*/
