#main {
    display: grid;
    grid-template-columns: auto auto auto auto;
    margin: 50px;
}
h1 {
    text-align: center;
}
.newDiv {
    text-align: center;
    background-color: black;
    color: blue;
}

.newDiv .finalDiv{
    background-color: blue;
}
